.bg {
  height: 5rem;
  width: 90rem;
  position: relative;
  background-color: var(--white);
  display: none;
  max-width: 100%;
}
.graviti-logo-1 {
  height: 4.313rem;
  width: 10rem;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.navbar {
  align-self: stretch;
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-7xs) 4.188rem var(--padding-8xs);
  box-sizing: border-box;
  max-width: 100%;
}
.distance {
  font-weight: 600;
}
.typography-subtitle-lg-semi-container {
  margin: 0;
  flex: 1;
  position: relative;
  font-size: inherit;
  line-height: 120%;
  display: inline-block;
  max-width: 100%;
  font-family: inherit;
}
.desktop,
.title {
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.title {
  width: 37.5rem;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  flex-shrink: 0;
}
.desktop {
  width: 100%;
  position: relative;
  background-color: var(--color-whitesmoke);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 6.375rem;
  gap: 2.063rem 0;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--brandcolorprimary);
  font-family: var(--font-work-sans);
}
@media screen and (max-width: 750px) {
  .desktop {
    gap: 2.063rem 0;
  }
}
@media screen and (max-width: 450px) {
  .navbar {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .typography-subtitle-lg-semi-container {
    font-size: var(--font-size-base);
    line-height: 1.188rem;
  }
}
